body {
  max-width: 1920px;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 1);
  font-family: Microsoft YaHei,Arial;
}
header {
  height: 70px;
  background-color: #fff;
}
header ul {
  line-height: 70px;
  list-style: none;
}
header ul li {
  display: inline-block;
  position: relative;
  left: 300px;
  margin-right: 51px;
  color: #414142;
  font-size: 18px;
}
.banner {
  position: relative;
  height: 750px;
}
.banner__bg {
  height: 100%;
  background: url(../image/index_banner.jpg) no-repeat center;
  background-size: 100%;
  /* filter: blur(2px); */
}
.banner__title {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  width: 315px;
  height: 41px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  text-align: left;
  font-family: SourceHanSansSC-bold;
}
.banner__video {
  position: absolute;
  top: 142px;
  left: 50%;
  transform: translateX(-50%);
  width: 846px;
  height: 485px;
}
.banner__btn button{
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 205px;
  height: 47px;
  transform: translateX(-50%);
  background-color: #E51C23;
  color: #fff;
  border: none;
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content__card {
  position: relative;
  width: 50%;
  padding: 0 60px;
}
.content__card-bg {
  height: 250px;
  margin-top: 30px;
  background: url(../image/content_card.jpg) no-repeat center;
  background-size: 100%;
  border-radius: 10px;
  transition: transform .2s;
}
.content__card-bg:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.content__card-title {
  position: absolute;
  left: 100px;
  bottom: 20px;
  width: 400px;
  height: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  font-weight: 600;
}
.content__card-title p:first-child {
  font-size: 14px;
}
.content___second {
  position: relative;
  margin-top: 35px;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  text-align: left;
  font-family: SourceHanSansSC-bold;
}
.content___second-bg {
  height: 450px;
  background: url(../image/content_second.jpg) no-repeat center;
  background-size: 100%;
}
.content___second-title {
  position: absolute;
  top: 103px;
  left: 156px;
  width: 324px;
  height: 54px;
}
.content___second-data {
  position: absolute;
  display: flex;
  top: 166px;
  left: 156px;
}
.data__info {
  height: 88px;
  margin-right: 201px;
}
.data__info span{
  display: block;
}
.data__info span:last-child {
  font-size: 18px;
}
.content__btn button{
  position: absolute;
  left: 160px;
  bottom: 92px;
  left: 156px;
  width: 145px;
  height: 45px;
  border-radius: 4px;
  background-color: rgba(229, 28, 35, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  text-align: center;
  font-family: Microsoft Yahei;
  border: 1px solid rgba(187, 187, 187, 1);
}
.footer {
  display: flex;
  height: 424px;
}
.footer__navbar {
  padding-left: 156px;
  margin-top: 50px;
}
.footer__navbar span {
  display: block;
}
.footer__navbar-title {
  height: 41px;
  margin-bottom: 18px;
  color: rgba(16, 16, 16, 1);
  font-size: 28px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
}
.footer__navbar-item {
  padding-bottom: 10px;
  color: rgba(16, 16, 16, 1);
  font-size: 18px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
}